section{
   background: black; 
   height: 300px;
   display: flex;
   gap: 10px;
   position: sticky;
   top:0;
}

div{
    height: 100px;
    width: 100px;
    background: crimson;
    border: 1px solid greenyellow;
}

/* #box2{
    position: static;
    top: 100px;                  
    left: 100px;
}
    */

/*#box2{
position: relative;
top: 100px;
left: 100px;
}   
*/

/*#box3{
    position: absolute;
    top: 100px;
    left: 100px;
} 
    */

#box2{
    position: fixed;
    bottom: 100px;
    right: 100px;
}