section{
    height: 500px;
    width: 100%;
    background: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

div{
    height: 200px;
    width: 200px;
    background: yellowgreen;
}