*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.sec1{
    height: 100vh;
    width: 100%;
    background: linear-gradient(#ff8236,black);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.right1,.left1{
    height: 500px;
    width: 500px;
}
.h11{
    font-size: 100px;
}
.left1{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec2{
    height: 100vh;
    width: 100%;
    background: linear-gradient(black,blue,black);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.right2,.left2{
    height: 500px;
    width: 500px;
}
.h12{
    font-size: 100px;
}
.left2{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    width: 400px;
    height: 400px;
    
}