div{
    height: 300px;
    width: 50px;
    border-right: 50px solid red;
    border-left: 50px solid red;
}

div::before{
    content: "";
    height: 100%;
    width: 100%;
    background: red;
    display: block;
    transform: skew(18deg);
    box-shadow: 0 0 10px black;
}