/*h1{
    border: 10px solid black;
    padding: 50px;
    margin: 100px;
} 
    */

    h1{
        border-top: 10px solid blueviolet;
        border-bottom: double orangered;
        border-left: dashed teal;
        border-right: dotted greenyellow;
        padding: 10px,20px,30px,40px;
        margin: 10px,20px,30px,40px;
    }