*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
   
    display: flex;
    justify-content: center;
}


img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

p{
    color:red;
}

h1{
    text-align: center;
}

button{
    width: 100%;
    height: 50px;
    
    border-radius: 4px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.cards{
    height: 700px;
    width: 400px;
    overflow: hidden;
    background:blueviolet;
   border-radius: 6px;
   box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.card{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: transform 0.3s ease-in-out; /* Smooth scaling effect */
}

.info:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.image{
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.image:hover{
    transform: scale(1.2);
    cursor: pointer;
}