div{
    height: 200px;
    width: 200px;
    background: black;
    animation: ani 10s ease-in-out 2s infinite;
}
@keyframes ani {
    0%{
        background: rebeccapurple;
    }
    25%{
        background: yellowgreen;
    }
    50%{
        background: lavenderblush;
    }
    100%{
        background: palevioletred;
    }
}