section{
    height: 100px;
    width: 100%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wave{
    height: 80px;
    width: 10px;
    background: linear-gradient(yellow,green);
    margin: 10px;
    border-radius: 10px;
    animation:waves 1s infinite linear;
}

.wave:nth-child(2){
    animation-delay: 0.1s;
}
.wave:nth-child(3){
    animation-delay: 0.2s;
}
.wave:nth-child(4){
    animation-delay: 0.3s;
}
.wave:nth-child(5){
    animation-delay: 0.4s;
}
.wave:nth-child(6){
    animation-delay: 0.5s;
}
.wave:nth-child(7){
    animation-delay: 0.6s;
}
.wave:nth-child(8){
    animation-delay: 0.7s;
}
.wave:nth-child(9){
    animation-delay: 0.8s;
}
.wave:nth-child(10){
    animation-delay: 0.9s;
}
.wave:nth-child(11){
    animation-delay: 0.1s;
}
.wave:nth-child(12){
    animation-delay: 0.2s;
}
.wave:nth-child(13){
    animation-delay: 0.2s;
}
.wave:nth-child(14){
    animation-delay: 0.3s;
}
.wave:nth-child(15){
    animation-delay: 0.4s;
}
.wave:nth-child(16){
    animation-delay: 0.5s;
}
.wave:nth-child(17){
    animation-delay: 0.6s;
}
.wave:nth-child(18){
    animation-delay: 0.7s;
}
.wave:nth-child(19){
    animation-delay: 0.8s;
}
.wave:nth-child(20){
    animation-delay: 0.9s;
}

@keyframes waves {
    0%{
        transform: scale(0);
    }
    50%{
        transform: scale(1);
    }
   100%{
        transform: scale(0);
    }
    
}