div{
    text-align: center;
    background: black;
    color: white;
    font-size: 100px;
    display: none;
}
@media screen  and (max-width: 375px){
#box1{
    display: flex;
}
}
@media screen  and (min-width: 375px) and (max-width: 750px){
    #box2{
        display: block;
    }
    }
    @media screen  and (min-width: 751px) and (max-width: 1250px){
        #box3{
            display: block;
        }
        }
        @media screen  and (min-width: 1251px) and (max-width: 1550px){
            #box4{
                display: block;
            }
            }
    
