*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
section{
    height: 500px;
    width: 100%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left{
    height: 400px;
    width: 400px;
    margin: 10px;
    border-radius: 10px;
    animation:section 10s infinite linear;
 }
 .right{
    height: 400px;
    width: 400px;
    margin: 10px;
    border-radius: 10px;
    animation:section 10s infinite linear;
 }
    @keyframes left {
        0%{
            transform: scale(0);
        }
        50%{
            transform: scale(0);
        }
       100%{
            transform: scale(0);
        }
        
    }

@keyframes right{
    0%{
        transform: scale(0);
    }
    50%{
        transform: scale(1);
    }
   100%{
        transform: scale(0);
    }
    
}